# Arquivos sensíveis
.env
.env.*
.env.local
.env.*.local
.envrc
.npmrc
.pnpmrc
*.pem
*.key
*.crt
*.pfx
*.p12
.ssh/
.supabase/*
supabase/.env

# Credenciais/Configs locais
*.keystore
*.jks
*.bak
*.backup
*.log

# Sistema/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Dependências e builds
node_modules/
**/.next/
.next/
.turbo/
.vercel/
dist/
build/
coverage/
.pnp.cjs
.pnp.loader.mjs
.pnp.data.json
.pnp.ts
.pnp.js

# Artefatos diversos
*.zip
*.tar
*.gz
*.7z

# Lockfiles (se quiser manter limpo)
pnpm-lock.yaml
yarn.lock
package-lock.json
